@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12" id="x-logs-table-header">
        <h3>Recent Activity</h3>
    </div>
    <hr />
    <div class="col-md-12 x-container-table">
        <table class="table table-stripped x-table-logs">
            <thead>
                <th scope="col">Event Timestamp</th>
                <th scope="col">User Identity</th>
                <th scope="col">System Area</th>
                <th scope="col">User Action</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
